"io.UnsupportedOperation: fileno" when use fput_object to upload files behind proxy

The client script behind proxy, after configure with proxy in the script.

Failed to upload files to minio server.

Error outputs:

```log
Traceback (most recent call last):
  File "u.py", line 54, in <module>
    my_bucket, "abc/" + upfile, upfile))
  File "/home/centos/.local/lib/python2.7/site-packages/minio/api.py", line 545, in fput_object
    file_size, content_type, metadata, sse)
  File "/home/centos/.local/lib/python2.7/site-packages/minio/api.py", line 784, in put_object
    sse=sse)
  File "/home/centos/.local/lib/python2.7/site-packages/minio/api.py", line 1479, in _do_put_object
    content_sha256=sha256_hex
  File "/home/centos/.local/lib/python2.7/site-packages/minio/api.py", line 1793, in _url_open
    preload_content=preload_content)
  File "/usr/lib/python2.7/site-packages/urllib3/poolmanager.py", line 362, in urlopen
    return super(ProxyManager, self).urlopen(method, url, redirect=redirect, **kw)
  File "/usr/lib/python2.7/site-packages/urllib3/poolmanager.py", line 245, in urlopen
    response = conn.urlopen(method, url, **kw)
  File "/usr/lib/python2.7/site-packages/urllib3/connectionpool.py", line 544, in urlopen
    body=body, headers=headers)
  File "/usr/lib/python2.7/site-packages/urllib3/connectionpool.py", line 349, in _make_request
    conn.request(method, url, **httplib_request_kw)
  File "/usr/lib64/python2.7/httplib.py", line 1041, in request
    self._send_request(method, url, body, headers)
  File "/usr/lib64/python2.7/httplib.py", line 1072, in _send_request
    self._set_content_length(body)
  File "/usr/lib64/python2.7/httplib.py", line 1052, in _set_content_length
    thelen = str(os.fstat(body.fileno()).st_size)
io.UnsupportedOperation: fileno
```

Hi @x-omak  

It seems like your proxy's httpclient does not support non-canonical headers like `content-length`.. Here the normal httpclient non-canonicalizes all  the headers and then proceed. 
The fix you provided will also work if we non-canonicalize the content-type header alone, like
```
new_header['Content-length'] = header['content-length']
```
Since the fix is actually proxy-httpclient-specific, I think it would be irrelevant to merge such specific fixes here in minio-py.
It would be helpful if you share us the proxy information that you configured with.

HTTP response and request headers are case insensitive content-length, Content-length, Content-Length all are allowed. minio-py is correct here in its behavior @x-omak 

http://www.ietf.org/rfc/rfc2616.txt

```
4.2 Message Headers

   HTTP header fields, which include general-header (section 4.5),
   request-header (section 5.3), response-header (section 6.2), and
   entity-header (section 7.1) fields, follow the same generic format as
   that given in Section 3.1 of RFC 822 [9]. Each header field consists
   of a name followed by a colon (":") and the field value. Field names
   are case-insensitive. The field value MAY be preceded by any amount
   of LWS, though a single SP is preferred. Header fields can be
   extended over multiple lines by preceding each extra line with at
   least one SP or HT. Applications ought to follow "common form", where
   one is known or indicated, when generating HTTP constructs, since
   there might exist some implementations that fail to accept anything
```

If the proxy interprets case sensitivity then it's a buggy HTTP proxy implementation and should be fixed and be compliant with HTTP RFC standards. 

@Praveenrajmani and @harshavardhana
Got it. It seems that proxy interprets case sensitivity, minio-py is correct in its behavior for HTTP response and request headers.
Thank you!
